*
{
    margin:0px;
    padding: 0px;
}
.entire 
{
    text-align: center;
    align-items: center;
    padding: 10px;
    margin: 10px;


}
.math
{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    background-color: blue;
    color: antiquewhite;
    border-radius: 20px;
}
.proof
{
    margin: 10px;
    padding: 10px;
    border: 1.5px solid blue;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;

}